# Core, added as Phase 1 environment is built out
pandas
numpy
psycopg2-binary
python-dotenv
pytest

black
ruff

pyyaml

yfinance

fredapi
fastapi
uvicorn[standard]
fastapi[all]
matplotlib
statsmodels
matplotlib
statsmodels
